*{
 MARGIN:0%;   
}
#data{
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 20vw;
    position: absolute;
}
#plansza{
    height: 90vh;
    width: 90vh;
    position: absolute;
    background-color: rgb(189, 181, 181); 
    border: black 0.4vh solid;
    top:5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#dzia{
    position: absolute;
    top: 31.2vh;
    left: 78vw;
    width: 18vw;
    height: 15vw;
    background-color: rgb(53, 50, 50);
    border-radius: 0.5vw;
    border: 0.3vw solid black; 
    padding: 0.5vw;   
}
.napis{
    width: 15vw;
    height: 3vw;
    margin-left: 1vw;
    background-color: rgb(0, 37, 94);
    color: white;
    padding: 0.2vw;
    border: 0.2vw solid black;
    font-size: 2vw;
    text-align: center;
    line-height: 3vw;
}
.quest{
    border: 0.15vw solid black;
    background-color: rgb(0, 37, 94);
    color: white;
    font-size: 1.2vw;
    text-align: center;
    line-height: 1.8vw;
    padding: 0.1vw;
    width: 10vw;
    height: 2vw;
    margin-left: 4vw;
    margin-top: 0.5vw;
}
#odp{
    font-size: 1.1vw;
    width: 4vw;
    height: 1.2vw;
    margin-top: 0.5vw;
    margin-left: 7vw;
}
.submit{
    height: 5vw;
    width: 5vw;
    border: 0.1 vw gray solid;
    font-size: 2.2em;
    background-color: rgb(3, 248, 3);
    border-radius: 50%;
    margin-left: 6.5vw;
    margin-top: 1vw;
}
.timers{
    position:absolute;
    left: 2vw;
    top: 5vh;
    width: 20vw;
    height: 18vw;
    background-color: rgb(98, 136, 218);
    border: black 0.3vw solid;
}
.licznik{
    font-size: 3vw;
    font-family: monospace;
    margin: 1vw;
    background-color: white;
    border: 0.2vw solid black;
    width: 18vw;
    height: 5vw;
    text-align: center;
    line-height: 4.5vw;
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(43, 136, 179);
}
.wiersz{
    display: flex;
    justify-content: space-around;
}
.licznik{
    width: 8vw;
}
#t1{
    width: 18vw;
}
.mini{
    width: 5vw;
    margin-left: 0;
    color: black;
    background-color: transparent;
    justify-content: stretch;
    border: 0;
    padding: 0;
    font-size: 3vw;
    
}